@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body{
    line-height: 1.6;
}
h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 20px 0;
}
.text{
    font-size: 18px;
    font-weight: semi-bold;
    text-align: center;
    margin-bottom: 60px;
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
#search_value{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}
#search_action{
    padding: 10px 20px;
    background-color: #4543d8;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}
.search_results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.search_result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.search_result img{
    width: 100%;
    height: 200%;
    transition: opacity 0.2s ease-in-out;
}

.search_result:hover img{
    opacity: .8;
}
.search_result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}
#show_more{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color:  #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .search_results{
        padding: 20px;
    }
    .search_result{
        width: 45%;
    }
}
@media screen and (max-width: 480px) {
    .search_result{
        width: 100%;
    }
}